.root {
    -fx-background-color: linear-gradient(to bottom right, #667eea, #764ba2);
    -fx-font-family: "Segoe UI";
}

.card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 12;
    -fx-spacing: 40;
    -fx-alignment: center;
    -fx-max-width: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 0, 5);
}

.link {
    -fx-text-fill: blue; 
    -fx-underline: true;
}

.link:hover {
    -fx-text-fill: darkblue;
    -fx-cursor: hand;
}

.title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-max-width: 300;
}

.text-field, .password-field {
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-background-color: #ddd;
    -fx-border-color: #000000;
    -fx-max-width: 300;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #667eea;
}

.btn {
    -fx-background-color: #667eea;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 10;
}

.btn:hover {
    -fx-background-color: #5a6fd8;
}