.root {
    -fx-background-color: #f3f2fa ;
}

/* Tytuły */
.title {
    -fx-font-size: 35px;
    -fx-text-fill: #606695;
    -fx-font-weight: bold;
    -fx-letter-spacing: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6, 0.3, 0, 2);
}

.subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #606695;
}

.join-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #606695;
}

.create-label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #606695;
}

/* Karty */
.card {
    -fx-background-color: #f5f6ff;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #9fa8da;
    -fx-min-width: 250px;
}

/* Pola do wpisywania */
.input {
    -fx-pref-width: 200px;
    -fx-background-radius: 8;
    -fx-border-color: black;
}

/* Przyciski */
.join-btn {
    -fx-background-color: #606695;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
}

.join-btn:hover {
    -fx-background-color: #4f547a;
}

.create-btn {
    -fx-background-color: #606695;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
}

.create-btn:hover {
    -fx-background-color: #4f547a;
}

/* Komunikaty */
.error-text {
    -fx-text-fill: #606695;
    -fx-font-size: 13px;
}